---
import CoreLayout from "../layouts/CoreLayout.astro"
import Card from "../components/Card.astro"
import tile_000 from "../images/tile_000.png"
import wp_000 from "../images/wp_000.png"
import personal_001 from "../images/personal_001.png"
---

<CoreLayout>

	<div class="py-24 grid grid-cols-1 md:grid-cols-3 gap-8">
		<h3 class="text-4xl text-gray-600">
			Hi, I'm Nick Jones. I'm a multidisciplinary product designer based in NYC.
		</h3>
		<p>
			I'm a veteran product, UX, and graphic designer with more than 20 years of experience in startups, agencies, and almost everything in between. I believe in craft, experimentation, and I still fight for the users.
		</p>
	</div>

	<div class="overflow-hidden grid grid-cols-1 md:grid-cols-3 gap-8">

		<Card title="Tile.com" imgsrc={tile_000} link="/projects/tile" description="Redesigning the Tile.com UX, including the homepage and ecommerce pages" className="md:col-span-1" />

		<Card title="Workpath" imgsrc={wp_000} link="projects/workpath" description="Web redesign & replatforming, design kit & in-app user experience" className="md:col-span-1" />

		<Card title="Personal Projects" imgsrc={personal_001} description="Component-based vector product keyshots with Figma" className="md:col-span-1" />
	</div>



</CoreLayout>

