---
import CoreLayout from "../layouts/CoreLayout.astro"
import Image from "astro/components/Image.astro"
import tile_000 from "../images/tile_000.png"
import wp_000 from "../images/wp_000.png"
import personal_001 from "../images/personal_001.png"
---

<CoreLayout>

	<div class="h-[75vh] flex flex-col justify-center p-20 mt-16">
		<h1 class="text-6xl md:w-2/3 leading-tight">
			Hi, I'm Nick Jones. I'm a multidisciplinary product designer based in NYC
		</h1>
	</div>

	<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 gap-2">
		<Image src={tile_000} alt="tile" class="w-[100%] object-cover rounded-md col-span-2" />
		<Image src={wp_000} alt="tile" class="h-[100%] object-cover rounded-md col-span-1" />
		<Image src={personal_001} alt="tile" class="h-[100%] object-cover rounded-md col-span-1" />
	</div>


</CoreLayout>

