---
import Image from "astro/components/Image.astro"
const { title, subtitle, imgsrc } = Astro.props
---

<div class="overflow-hidden max-h-[320px]">
  <div class="py-2">
    <h4 class="text-sm font-bold">{ title }</h4>
    <h4 class="font-normal text-sm">{ subtitle }</h4>
  </div>
  <div class="w-full bg-white aspect-square">
    <Image src={imgsrc} alt="image" class="h-[100%] w-[100%] object-cover" />
  </div>
</div>