---
const links = ["/", "/about"]
---

<div class="p-2 m-4 border border-b-slate-300 border-x-0 border-t-0 flex flex-row justify-between">
  <h1 class="font-bold">Nick Jones</h1>

  <ul class="flex flex-row gap-6">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</div>